<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{'/css/main.css'}"/>
    <link layout:fragment="pageStyleLink"/>
    <style layout:fragment="pageStyle"></style>
</head>
<body>
<div align="center">
<form th:method="POST" th:action="@{/user}" th:object="${user}">
    <h2>Create users</h2>
    <input type="hidden" th:field="*{id}" th:value="*{getId()}">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <div class="col-md-6 mb-3">
                <label th:for="name">Name of user:
                    <input th:field="*{name}" type="text" id="name"/>
                </label>
            </div>
            <div class="col-md-6 mb-3">
                <label th:for="email">Email:
                    <input th:field="*{email}" type="text" id="email"/>
                </label>
            </div>
            <div class="col-md-6 mb-3">
                <label th:for="address">Address:
                    <input th:field="*{address}" type="text" id="address"/>
                </label>
            </div>
            <tr>
                <td>
                    <button type="button" class="btn btn-secondary bg-secondary text-white">Success</button>
                </td>
            </tr>
        </div>

    </div>
</form>
</div>
</body>
</html>