<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{'/css/main.css'}"/>
    <link layout:fragment="pageStyleLink"/>
    <style layout:fragment="pageStyle"></style>
</head>
<body>
<div align="center">
    <h2>Create users</h2>
    <form:form action="save" method="post">
        <table border="0" cellpadding="5">
                <label th:for="name">Name of user:
                    <input th:field="*{name}" type="text"  id="name"/>
                </label>

                <label th:for="email">Email:
                    <input th:field="*{email}" type="text"  id="email"/>
                </label>

                <label th:for="address">Address:
                    <input th:field="*{address}" type="text"  id="address"/>
                </label>
            <tr>
                <td> <button type="button" class="btn btn-secondary bg-secondary text-white">Success</button></td>
            </tr>
        </table>
    </form:form>
</div>




</body>
</html>