<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Create cars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{'/css/main.css'}"/>
    <link layout:fragment="pageStyleLink"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <style layout:fragment="pageStyle"></style>

</head>
<body>
<div class="container">
    <div class="col-md-12">
        <h2 style="text-align: center">List of users</h2>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name of user</th>
                <th>Email</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${newUsers}" th:remove="tag">
                <tr>
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.address}"></td>

                    <td><form th:action="@{/list/{id}/edit(id=${user.getId()})}" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Edit</a> </form></td>
                    <td><form th:method="DELETE" th:action="@{/list/{id}(id=${user.getId()})}" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Delete</a></form></td>
                </tr>
            </th:block>

            </tbody>
            <button type="button" form th:method="POST" th:action="@{/new}" th:object="${newUser}" class="btn btn-success" > <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Add</a></form></button>

        </table>

    </div>
</div>
</body>
</html>