<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Create users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{'/css/main.css'}"/>
    <link layout:fragment="pageStyleLink"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <style layout:fragment="pageStyle"></style>

</head>
<body>
<div class="container">
    <div class="col-md-12">
        <h2 style="text-align: center">List of users</h2>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Name of user</th>
                <th>Email</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="users : ${user}" th:remove="tag">
                <tr>
                    <td th:text="${users.name}"></td>
                    <td th:text="${users.email}"></td>
                    <td th:text="${users.address}"></td>

                    <td>
                        <a type="button" th:href="@{/edit}" class="btn btn-secondary bg-secondary text-white">Update</a>
                        <a type="button" th:action="@{/user/{id}(id=${user.getId()})}" th:method="DELETE" class="btn btn-secondary bg-secondary text-white">Delete</a>
                    </td>
                </tr>

            </th:block>
            <div>
                <a type="button" th:href="@{/new}" class="btn btn-secondary bg-secondary text-white">Create user</a>
            </div>
            </tbody>

        </table>

    </div>
</div>
</body>
</html>